.tooltip {

	position: absolute;
	width: auto;
	height: auto;
	padding: 5px;
	font: 12px sans-serif;
	background: white;
	border: 1px solid gray;
	border-radius: 7px;
	pointer-events: none;
	z-index: 100;

}

.hidden {
	display: none;
}
